<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


    <!--
        @author: Lic. José Alberto Sánchez González
        twitter: @jaehoox
        mail: jaehoo@gmail.com
    -->

    <display-name>Jaehoo ACL Sec example</display-name>

    <!-- Spring Context Loader-->

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:appcontext.xml
        </param-value>

    </context-param>


    <!-- Spring Listener It is executed whenever the ServletContext changes -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Spring MVC -->

    <servlet>

        <description>Spring MVC distpacher</description>
        <servlet-name>distpatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!-- <load-on-startup>1</load-on-startup>-->

        <!-- Renaming distpatcher config file of Spring MVC-->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:distpatcher-servlet.xml</param-value>
        </init-param>


    </servlet>

    <servlet-mapping>
        <servlet-name>distpatcher</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>


    <!-- Spring Security Filter Chain Proxy -->

    <!--<filter>
        <filter-name>filterChainProxy</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        &lt;!&ndash; Administrar los filtros manualmente &ndash;&gt;
         &lt;!&ndash;<init-param>
            <param-name>targetClass</param-name>
            <param-value>org.springframework.security.web.FilterChainProxy</param-value>
        </init-param>&ndash;&gt;
    </filter>

    <filter-mapping>
        <filter-name>filterChainProxy</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->



    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
