<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!--
    Extrae el log del servidor y lo almacena en arcivos separados por dia
    yyyy-MM-ww          : Por semana
    yyyy-MM-dd          : Por dia
    yyyy-MM-dd_HH       : Por hora
    yyyy-MM-dd_HH-mm    : Por minuto
    -->
    <!-- Support multiple-JVM writing to the same log file -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Prudent>true</Prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>/tmp/logs/abm/logFile.%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--<Pattern>[%d{dd/MM/yyyy HH:mm:ss}] %-5level %logger{36} - %msg%n</Pattern> -->
            <Pattern>[%d{HH:mm:ss}] %-5level %logger{10} - %msg%n</Pattern>
        </layout>
    </appender>

    <!--        Habilita la salida estadandar via consola    -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%d{HH:mm:ss}] %-5level %logger{36} - %msg %n</Pattern>
            <!-- <Pattern>[%date] %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>-->
        </layout>
    </appender>


    <!--  <logger name="org.springframework.security.web.FilterChainProxy" level="debug" />
    <logger name="com.abm.control.action.SingleFormatAction" level="debug" />
    <logger name="com.abm.control.service.impl.*" level="debug" />

    -->


    <!--
            Levels:
                TRACE, DEBUG, INFO, WARN, ERROR, ALL or OFF.
    	         Note that the level of the root logger cannot be set to INHERITED or NULL.
		<logger name=".*" level="debug"/>
        -->

    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <!-- <appender-ref ref="FILE"/>-->
    </root>

</configuration>
